* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: $black;
  word-break: normal;
  background-color: $white;
}
section,
footer {
  z-index: 2;
}
section {
  min-width: 100%;
  max-width: 100%;
  min-height: 100vh;
  padding: 2rem;
  text-align: center;
  background-color: $white;
}
a {
  color: $secondary;
  text-decoration: none;
}
a:hover {
  color: $secondary-800;
  cursor: pointer;
}
h1 {
  font-size: 1.5rem;
  line-height: 1;
}
h2 {
  font-size: 2.3rem;
  line-height: 1;
}
h3 {
  font-size: 0.9rem;
  line-height: 1;
}
p {
  font-size: 0.8rem;
}
.fa-2x {
  font-size: 1rem;
}
.fa-4x {
  font-size: 2rem;
}

@media (min-width: $mqMinWidthTablet) {
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  .fa-2x {
    font-size: 1.5rem;
  }
  .fa-4x {
    font-size: 3rem;
  }
}
@media (min-width: $mqMinWidthDesktop) {
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  .fa-2x {
    font-size: 2rem;
  }
  .fa-4x {
    font-size: 4rem;
  }
}

.portada {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 200vh;
  margin: 0;
  text-align: center;
  background: #ddd;

  .scroll-dist {
    position: absolute;
    width: 100%;
    height: 200vh;
    background-color: $white;
  }

  .main-portada {
    position: fixed;
    top: 0;
    left: 50%;
    width: 98%;
    max-width: 800px;
    height: 100%;
    background: $white none repeat scroll 0% 0%;
    transform: translate(-50%);
    svg {
      width: 100%;
      height: 100vh;
    }
  }
  svg:not(:root) {
    overflow: hidden;
  }
  svg image,
  svg polyline {
    transform-origin: 0px 0px 0px;
  }
}
.arrow-button {
  position: fixed;
  top: 80vh;
  left: 50%;
  z-index: 1;
  padding: 10px;
  border-radius: 100%;
  transform:  translateX(-50%);
  animation: pulse 2s 3s infinite;
}

@keyframes pulse {
  0% {
    background-color: $primary-900;
    box-shadow: 0 0 0 0 $primary-900;
    transform: scale(0.95);
  }

  70% {
    box-shadow: 0 0 0 10px $primary-200;
    transform: scale(1);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    transform: scale(0.95);
  }
}

.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem 1rem;
  background-color: $white;

  .img-container {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0.2rem auto;
    text-align: center;
    background: $secondary;
    background: radial-gradient(
      circle,
      $secondary 51%,
      $primary-800 68%,
      $white 70%,
      $white 100%
    );
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 180px;
      height: 180px;
      border: 1px solid $secondary-50;
      border-radius: 100%;
      transform: translate(-50%, -50%);
    }
  }
  .header {
    text-align: center;
    h1 {
      display: inline-block;
      margin: 0.2rem auto;
      background: $linear-gradient-primary;
    }
    h2 {
      margin: 1rem auto;
      line-height: 1;
    }
    a {
      font-size: 1.2rem;
      font-weight: 500;
      line-height: 1;
      i {
        font-size: large;
      }
    }
  }
}
@media (min-width: $mqMinWidthTablet) {
  .presentation {
    padding: 5rem 4rem;
    .img-container {
      width: 260px;
      height: 260px;
      margin: 1rem auto;
      img {
        width: 240px;
        height: 240px;
      }
    }
    .header {
      h1 {
        margin: 1rem auto;
      }
      h2 {
        max-width: 600px;
        margin-bottom: 3rem;
        font-size: 4rem;
      }
      a {
        font-size: 2.1rem;
        i {
          font-size: x-large;
        }
      }
    }
  }
}

@media (min-width: $mqMinWidthDesktop) {
  .presentation {
    .img-container {
      width: 45vh;
      height: 45vh;
      img {
        width: 41vh;
        height: 41vh;
      }
    }
    .header {
      h2 {
        max-width: 800px;
      }
    }
  }
}

.sliders {
  display: flex;
  .sliders-container {
    position: relative;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $white;

    .sliders-wrapper {
      position: sticky;
      top: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100vh;
    }
  }

  .slide-1 p {
    display: inline;
    margin-left: 1rem;
  }
  .slide {
    position: absolute;
    top: 10px;
    left: 50%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    opacity: 0;
    transform: translateX(-50%);

    .text-container:not(.skills) {
      width: 100%;
      max-width: 900px;
      p {
        margin: 0.2rem auto;
      }
    }
    .text-container {
      margin: auto;
      h2 {
        margin: 0.2rem auto;
        font-size: 1.2rem;
      }
      h3 {
        display: inline;
        margin: 0.2rem auto;
        font-weight: 400;
        background-color: $primary;
      }
    }
    .skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-content: stretch;
      align-items: center;
      justify-content: center;
      gap: 0.2rem;
      > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 0.5rem;
        background-color: $black-100;
        border-radius: 10px;
      }
      i {
        font-size: 1.8em;
      }
      p {
        margin: 0;
      }
    }
  }
  .slide.is-active {
    opacity: 1;
    transition: opacity 0.3s ease 0.2s;
  }
}

@media (min-width: $mqMinWidthTablet) {
  .sliders {
    .slide {
      .text-container {
        > div {
          max-width: 700px;
          margin: auto;
        }
        h2 {
          margin: 0.5rem auto;
          font-size: 2.2rem;
        }
        h3 {
          margin: 0.5rem auto;
          font-size: 1.2rem;
        }
        p {
          font-size: 1rem;
        }
      }
      .text-container:not(.skills) {
        p {
          margin: 0.5rem auto;
        }
      }
      .skills {
        max-width: 500px;
        i {
          font-size: 2em;
        }
      }
    }
    .slide-1 p {
      display: block;
      margin: 1rem auto;
    }
  }
}
@media (min-width: $mqMinWidthDesktop) {
  .sliders {
    .slide {
      .text-container {
        > div {
          max-width: 850px;
        }
        h2 {
          margin: 1rem auto;
          font-size: 2.5rem;
        }
        h3 {
          margin: 1rem auto;
          font-size: 1.5rem;
        }
        p {
          font-size: 1.2rem;
        }
      }
      .text-container:not(.skills) {
        p {
          margin: 1rem auto;
        }
      }
      .skills {
        max-width: 700px;
        grid-template-columns: repeat(4, 1fr);
        i {
          font-size: 6em;
        }
      }
    }
  }
}

.slider-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 800px;
  margin: 1rem auto;

  .slider-bar-item {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: $white;
    border: 4px solid $primary;
    border-radius: 100%;
    > div {
      position: absolute;
      top: 50%;
      left: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 25px;
      height: 25px;
      text-align: center;
      background-color: $primary;
      border-radius: 100%;
      transform: translate(-50%, -50%);
    }
    i {
      font-size: 1em;
      color: $white;
    }
  }

  .slider-link {
    position: relative;
    z-index: 1;
    width: 20%;
    height: 1vh;
    min-height: 10px;
    background-color: $white;
    .container-link {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      border-top: 3px solid $primary;
      border-bottom: 3px solid $primary;
      transform: translate(-50%, -50%);
    }
  }

  .slider-bar-item.active {
    background-color: $secondary-light;
    i {
      color: $secondary-light;
    }
  }
}
@media (min-width: $mqMinWidthTablet) {
  .slider-bar {
    .slider-bar-item {
      width: 8vh;
      height: 8vh;
      > div {
        width: 6vh;
        height: 6vh;
      }
      i {
        font-size: 1.5em;
      }
    }
    .slider-link {
      width: 15vh;
      height: 1.2vh;
      .container-link {
        border-top-width: 4px;
        border-bottom-width: 4px;
      }
    }
  }
}
@media (min-width: $mqMinWidthDesktop) {
  .slider-bar {
    .slider-bar-item {
      i {
        font-size: 2em;
      }
    }
    .slider-link {
      height: 1.5vh;
    }
  }
}

.projects {
  h2 {
    display: inline;
    background: $linear-gradient-primary;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    max-width: 900px;
    padding-top: 2rem;
    margin: auto;
    gap: 1rem;
    a div {
      padding: 1rem;
      cursor: pointer;
      background-color: $black-100;
      border-radius: 10px;
    }

    img {
      width: 100%;
      height: auto;
      border-radius: 10px;
    }
  }
}
@media (min-width: $mqMinWidthTablet) {
  .projects .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: $mqMinWidthDesktop) {
  .projects .container a div {
    padding: 2rem;
  }
}

.container a div {
  position: relative;
  overflow: hidden;
  p {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    display: none;
    margin: 0;
    font-size: 2em;
    font-weight: 700;
    line-height: 1;
    color: $primary;
    transform: translate(-50%, -50%);
  }
}
.container a div:before {
  position: absolute;
  z-index: -1;
  width: 5%;
  height: 5%;
  content: "";
  background: $linear-gradient-secondary-transparent;
  border-radius: 10px;
  transition: transform 0.25s ease-out;
  transform: scale(1);
  transform-origin: 50% 50%;
}
.container > a:hover div:before {
  z-index: 1;
  transform: scale(50);
}
.container > a:hover p {
  display: block;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
  color: $white;
  text-align: center;
  background-color: $secondary;
  background-image: $linear-gradient-secondary-dark;
  .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50vh;
    h2 {
      max-width: 800px;
      padding: 2rem 0;
      margin: auto;
      background: linear-gradient(to right, $primary 0%, $secondary 100%);
      background-clip: text;
      background-size: 100% 100%;
      -webkit-text-fill-color: transparent;
    }
    .email {
      font-family: $font-family-serif;
      font-size: 1.3rem;
    }
    .icon-container {
      display: flex;
      justify-content: center;
      gap: 1rem;
    }
  }
  a {
    color: $white;
  }
}
@media (min-width: $mqMinWidthTablet) {
  footer {
    .email {
      font-size: 2rem;
    }
  }
}

.fa-html5 {
  color: $html;
}
.fa-css3-alt {
  color: $css;
}
.fa-js-square {
  color: $js;
}
.fa-php {
  color: $php;
}
.fa-react {
  color: $react;
}
.fa-angular {
  color: $angular;
}
.fa-node {
  color: $node;
}
.fa-laravel {
  color: $laravel;
}
.fa-wordpress {
  color: $wordpress;
}
.fa-drupal {
  color: $drupal;
}
.fa-git {
  color: $git;
}
