*,
::after,
::before,
html {
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 2rem;
  margin: 0;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: $uoc-corporate;
  background-color: $white;
}

.uoc-container {
  max-width: 800px;
  padding: 2rem;
  margin: auto;
  text-align: center;
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 0 4px 6px -1px $black-100,
    0 2px 4px -1px $black-60;
}

.uoc-logo {
  display: block;
  max-width: 200px;
  height: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  margin-left: auto;

  @media (min-width: $mqMinWidthTablet) {
    max-width: 350px;
  }
}

.uoc-title {
  font-family: $font-family-serif;
  font-size: 24px;
  font-weight: 700;
  color: $uoc-corporate;

  @media (min-width: $mqMinWidthTablet) {
    font-size: 36px;
  }
}

.portada {
  position:relative;
  width: 100%;
  height: 200vh;
  margin: 0;
  font-size: 99px;
  text-align: center;
  background: #ddd;

  .scroll-dist {
    position: absolute;
    width: 100%;
    height: 200vh;
    background-color: $white;
  }

  .main-portada {
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    background: #fff none repeat scroll 0% 0%;
    transform: translate(-50%);
    svg {
      width: 100%;
      height: 100vh;
    }
  }
  svg:not(:root) {
    overflow: hidden;
  }
  svg image, svg polyline {
    transform-origin: 0px 0px 0px;
  }
}

.sliders-container {
  position: relative;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $white;
  .sliders-wrapper {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
  }
  .slider-bar {
    width: 100%;
    .bar {
      width: 80%;
      height: 2rem;
      margin: 1rem auto;
      background: linear-gradient(to right, $black 10%, transparent 10%);
      border: 1px solid $black;
    }
  }
}

.text-container {
  width: 50%;
  margin: auto;
  p {
    display: inline;
    font-size: 1.4rem;
    line-height: 1.6;
  }
}
.slide {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  opacity: 0;
  transform: translateX(-50%);
}
.slide.is-active {
  opacity: 1;
  transition: opacity 0.3s ease 0.2s;
}
.slide-1 p {
  background-color: pink;
}
.slide-2 p {
  background-color: orange;
}
.slide-3 p {
  background-color: purple;
}


.flex {
  display: flex;
}
.w-100{
  width:100%;
}
.m-auto {
  margin: auto;
}